body {
    background-color: rgba(171, 184, 171, 0.76);
}

#container {
    background-color: whitesmoke;
}

#container .title {
    background-color: whitesmoke;
    font-size: 1.2rem;
}

#app {
    padding: 22%;
    font-size: 10px;
}

.timer {
    font-size: 5rem;
    line-height: 1;
    margin: 50px 20px 50px 30px;
}

.controls {
    font-size: 2rem;
    ;
}